.chat-main
  .chat-main__group-into
    .left-box
      .left-box__group
        test 
      .left-box__member
        member:KIM
    .right-box  
      = link_to "#", class:"edit_btn"  do
        Edit
  .chat-main__message-list
    
  .chat-main__message-form