.side-bar
  .side-bar__user-name
    .side-bar__user-name--top-items
      .side-bar__user-name--top-items__name
      .side-bar__user-name--top-items__icons
        = icon('far', 'edit' )
        = icon('fas', 'cog'  )
  .side-bar__group-list