.side-bar
  .side-bar__user-name
    .side-bar__user-name--top-items
      .side-bar__user-name--top-items__name
      .side-bar__user-name--top-items__icons
        = icon('far', 'edit', class:"side-bar__user-name--top-items__icons__new")
        = icon('fas', 'cog' , class:"side-bar__user-name--top-items__icons__cog")
  .side-bar__group-list